<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAYOUT</title>
    <link rel="stylesheet" href="../../assets/css/global.css">
</head>
<body>
    <div class="app">
        <header class="app-header">
            <div class="header-inner">header</div>
        </header>

        <main class="app-main" id="main" style="background:yellow;">
            <!-- 여기만 스크롤 -->
            <div class="content">
            <input type="text" placeholder="클릭하면 키보드" />
            <!-- <div style="height: 900px"></div> -->
            </div>
        </main>

        <footer class="app-footer" id="footer">
            footer
        </footer>
    </div>

</body>
</html>